
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Sintony', sans-serif;
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.container {
  max-width: 1230px;
  margin:0 auto;
  padding: 0 15px;
}

.header_content {
  background-color: rgba(94, 94, 94, 0.973);
}

.header_btn {
  font-family: 'Sintony', sans-serif;
  background-color:#fea100;
  color:#fff;
  line-height: 18px;
  margin:15px;
  padding: 15px 28px 15px 28px;
  font-weight: 600;
  font-size: 14px;
  float: right;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  height:fit-content;
}

.header_btn:hover {
  border-color: #fff;
}

.menu li {
  display: inline-block;
}

.header_container-inner {
  display:flex;
  justify-content: space-between;
}

.menu a {
  color:white;  
  padding: 30px 15px;
  font-family: 'Sintony', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.menu a:hover {
  color:#fea100;
}


/*------------------------SECTION-SLIDER--------------------*/

.slider {
 background-image:url('/images/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  vertical-align: 40px;
}

.slider_inner{
  position: relative;
}

.slider_item{
  text-align:  center;
}

.slider_title{
  font-family: 'Sintony', sans-serif;
  font-size:32px;
  color:rgb(151, 3, 3);
  font-weight: 700;
  padding-top: 170px;
  text-shadow: white 0 0 2px;
  height:30px;
}

.slider_title p{
  font-family: 'Sintony', sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
}
.slider_title-p{
  font-size:42px;
}

.slider_text{
  padding-top: 210px;
  font-size:18px;
  font-weight: 700;
  text-shadow: white 0 0 2px;
  color:rgb(151, 3, 3);
  margin-bottom: 10px;
}

.slider_phone{
  color:#fff;
  font-family: 'Sintony', sans-serif;
  font-size:24px;
  line-height: 18px;
  color:rgb(97, 0, 0);
  font-weight: 600;
}


.opening {
  font-family: 'Sintony', sans-serif;
  background-color:rgba(94, 94, 94, 0.973); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100px;
}

.opening_inner {
  color:black;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.opening-item {
  max-width: 260px;
  padding: 0px 10px;
}

.opening_hours {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 10px 15px;
}

.opening_title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 20px 10px 5px;
  font-weight: bold;
  font-style:italic;
  color:rgba(36, 36, 36, 0.973);
  
}
.opening_text{
  font-size: 18px;
  line-height: 24px;
  color: #fea100;
  font-weight: bold;
  letter-spacing: 0.1px;
}


.menu_food {
  font-family: 'Sintony', sans-serif;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  color:black;
}

.menu_food_title {
  font-size: 24px;
  line-height: 28px;
  padding: 20px 10px 5px;
  font-weight: bolder;
  text-align: center;
  color:rgba(36, 36, 36, 0.973);
}

.munu_food-item {
  height: 70px;
  display:flex;
  justify-content: space-between;
}

.munu_food-item p {
  padding:0px 10px;
  margin: 0;
}

.munu_food-item ul{
  padding: 0px 10px;
  margin: 0px auto; 
  background-position: center;
}

.munu_food-item li {
  display: inline-block;
}

.munu_food-item a {
  color:rgba(36, 36, 36, 0.973);  
  padding: 10px 15px;
  font-family: 'Sintony', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.munu_food-item a:hover {
  color:#fea100;
}

.menu_food-price {
  display: inline-block;
  display:flex;
  justify-content: space-around;
}

.menu_food-price-eat {
  padding:10px;
  margin: 10px;
  width: 500px;
}

.menu_food-price-name{
  display: inline-block;
}
  
.menu_food-price-title {
  font-size: 18px;
  padding: 0px 10px;
  font-weight: bolder;
}

.menu_food-price-text {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
  font-weight: bolder;
  color:rgba(56, 56, 56, 0.973);
}

.menu_food-price-dol {
  float: right;
  font-size: 18px;
  font-weight: bolder;
  color:#fea100;
}

.menu_food-btn {
  display:flex;
  justify-content: space-around;
}

.menu_food-btn button  {
  font-family: 'Sintony', sans-serif;
  background-color:#fea100;
  color:#fff;
  line-height: 18px;
  margin:15px;
  padding: 15px 28px 15px 28px;
  font-weight: 600;
  font-size: 14px;
  float: right;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  height:fit-content;
}

.menu_food-btn button:hover{
  border: 2px solid #ebca93;
}

.form {
 background-image:url('/images/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  vertical-align: 40px;
}

.form_title {
  font-size: 32px;
  line-height: 28px;
  padding: 20px 10px 5px;
  font-weight: bolder;
  text-align: center;
  text-shadow: white 0 0 2px;
  color:black;
}

.form_box {
  display: inline-block;
  display:flex;
  justify-content: space-around;
}

.form_box form {
  width: 800px;
}

.form_box-left {
  display: inline-block;
  padding:10px;
  margin: 20px;
  width: 300px;
}

.form_box-left input {
  padding: 10px 100px 10px 10px;
  margin:5px 0px;
}

.form_box-div {
  margin: 10px;
  font-family: 'Sintony', sans-serif;
  font-size: 16px;
}

.form_box-right {
  display: inline-block;
  padding:10px;
  margin: 20px;
  width: 300px;
  /*float: right;*/
}

.form_box-right input {
  padding: 10px 100px 10px 10px;
  margin:5px 0px;
}

.form-btn {
  display: flex;
  justify-content: space-around;
}

.form-btn button {
  font-family: 'Sintony', sans-serif;
  background-color:#fea100;
  color:#fff;
  line-height: 18px;
  margin:15px;
  padding: 15px 28px 15px 28px;
  font-weight: 600;
  font-size: 14px;
  float: right;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  height:fit-content;
}

.form-btn button:hover{
  border: 2px solid #ebca93;
}




.footer {
  background-color:rgba(94, 94, 94, 0.973);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 320px;
  vertical-align: 40px;
}

.footer_content-all { 
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_navigation {
  max-width: 500px;
  padding: 0px 20px;
}

.footer_content-navig {
  font-size: 18px;
  line-height: 28px;
  padding: 30px 5px 10px 0px;
  font-weight: 600;
  color:white;
}

.footer_content-ul a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color:rgb(194, 194, 194);
}

.footer_content-ul a:hover {
  color:#fea100;
}

.footer_news-email {
  margin: 10px 0px 0px 0px;
}

.footer_news-text{
  font-size: 18px;
  line-height: 28px;
  padding: 30px 5px 10px 0px;
  font-weight: 600;
  color:white;
}

.footer_news-email-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color:rgb(194, 194, 194);
}

.footer_news-email-input input {
  padding: 10px 100px 10px 10px;
  margin:5px 0px;
}

.footer_news-email-btn {
  font-family: 'Sintony', sans-serif;
  background-color:#fea100;
  color:#fff;
  line-height: 18px;
  margin:5px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  float: right;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  height:fit-content;
}

.footer_news-email-btn:hover{
  border: 1px solid #ebca93;
}

.footer_news-social {
  margin-top: 20px;
}

a.facebook{
  background-image: url('/images/facebook.png');
  width: 60px;
  height: 60px;
}

a.twitter {
  background-image: url('/images/twitter.png');
  width: 60px;
  height: 60px;
}

a.googleplus {
  background-image: url('/images/google.png');
  width: 60px;
  height: 60px;
}

.footer_app-text {
  font-size: 18px;
    line-height: 28px;
    padding: 30px 5px 10px 0px;
    font-weight: 600;
    color: white;
}

a.appstore {
  background-image: url('/images/appstore2.png');
  width: 222px;
  height: 63px;
}

a.googleplay {
 background-image: url('/images/googleplay2.png');
  width: 222px;
  height: 63px;
}

.footer_content-text {
  font-size: 14px;
  line-height: 28px;
  padding:50px 10px 20px 10px;
  text-align: center;
  color:white;
}